<h1>Article Name: <%= @article.title %></h1>
<p><%= @article.description%></p>
<p>$<%= @article.price %></p>
<p><%= @article.address %></p>

<p><%= link_to "Edit your article", edit_category_article_path(@article.category_id, @article) %></p>
